@font-face {
  font-family: 'LemonTuesday';
  src: url('../fonts/LemonTuesday.eot');
  src: url('../fonts/LemonTuesday.woff2') format('woff2'),
  url('../fonts/LemonTuesday.woff') format('woff'),
  url('../fonts/LemonTuesday.ttf') format('truetype'),
  url('../fonts/LemonTuesday.svg#LemonTuesday') format('svg'),
  url('../fonts/LemonTuesday.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BanderaProMedium';
  src: url('../fonts/BanderaProMedium.eot');
  src: url('../fonts/BanderaProMedium.woff2') format('woff2'),
  url('../fonts/BanderaProMedium.woff') format('woff'),
  url('../fonts/BanderaProMedium.ttf') format('truetype'),
  url('../fonts/BanderaProMedium.svg#BanderaProMedium') format('svg'),
  url('../fonts/BanderaProMedium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BanderaProHeavy';
  src: url('../fonts/BanderaProHeavy.eot');
  src: url('../fonts/BanderaProHeavy.woff2') format('woff2'),
  url('../fonts/BanderaProHeavy.woff') format('woff'),
  url('../fonts/BanderaProHeavy.ttf') format('truetype'),
  url('../fonts/BanderaProHeavy.svg#BanderaProHeavy') format('svg'),
  url('../fonts/BanderaProHeavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BanderaPro';
  src: url('../fonts/BanderaPro.eot');
  src: url('../fonts/BanderaPro.woff2') format('woff2'),
  url('../fonts/BanderaPro.woff') format('woff'),
  url('../fonts/BanderaPro.ttf') format('truetype'),
  url('../fonts/BanderaPro.svg#BanderaPro') format('svg'),
  url('../fonts/BanderaPro.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BanderaPro-Italic';
  src: url('../fonts/BanderaPro-Italic.eot');
  src: url('../fonts/BanderaPro-Italic.woff2') format('woff2'),
  url('../fonts/BanderaPro-Italic.woff') format('woff'),
  url('../fonts/BanderaPro-Italic.ttf') format('truetype'),
  url('../fonts/BanderaPro-Italic.svg#BanderaPro-Italic') format('svg'),
  url('../fonts/BanderaPro-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}