// VARIABLES
$ftLemonTuesday: 'LemonTuesday', sans-serif;
$ftBanderaProMedium: 'BanderaProMedium', sans-serif;
$ftBanderaProHeavy: 'BanderaProHeavy', sans-serif;
$ftBanderaPro: 'BanderaPro', sans-serif;
$ftFranklinGothicMedium: 'FranklinGothicMedium', sans-serif;
$ftBanderaPro-Italic: 'BanderaPro-Italic', sans-serif;

// Colors
$colorBlack: #000;
$colorWhite: #fff;
$colorBlue: #21bcf0;
$colorLightWhite: #fefefe;
$colorBtn: #00468c;